<!DOCTYPE html>
<html lang="fr" ng-app="partyScanJS">
<head>  
    <meta charset="utf-8">  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
    <title>PartyScan JS</title>  
    
	<script type="text/javascript" src="angular.min.js" ></script>
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" ></script> -->
    <script type="text/javascript" src="data.js" ></script>
	<script type="text/javascript" src="partyscan.js" ></script>
	
	<script type="text/javascript" src="qr/llqrcode.js"></script>
	<script type="text/javascript" src="qr/webqr.js"></script>

	
	<link rel="stylesheet" type="text/css" href="partyscan.css"  />  
          
</head>  
<body ng-controller="partyScanJSCtrl">
	
	<header>
		<h1>PartyScanJS</h1>
		
	</header>
	
	
	<section id='listing' >
		<article  id='col_droite'>
			<div id="camdiv"><video id="v" autoplay=""></video></div>
			<div id='details' class='zoneDroite'><h2>Billet</h2>
			    {{tick._id}}<br />
				<table>
					<tr ng-repeat="peop in tick.insc">
						<th>{{peop.nom}} {{peop.prenom}}</th>
						<td>{{peop.adhesion}}</td>
						<td>{{peop.age | number:1}} ans</td>
						<td>{{peop.amount}} €</td>
						
					</tr>
					<tr ng-show="tick.discount_amount_cart"><td>REDUCTION Adhérent </td><td></td><td></td><td>-{{tick.discount_amount_cart}} €</td></tr>
					<tr><td>TOTAL </td><td></td><td></td><td>{{tick.total_amount}} €</td></tr>
				</table>
			</div>
			<div id='paiement' class='zoneDroite' ng-class="{ok: tick.paiement}" ><h2>Paiement</h2>
			    <div ng-show='tick.paiement'>
					{{tick.paiement.value}} € - {{tick.paiement.mode}}
			    </div>
			    <div ng-show='!tick.paiement'>
					Reste à payer : {{tick.total_amount}}<br />
					<input type='text' ng-model='payeValue' /><br />
					<button ng-click="validePaye('espece');">Espèce</button>
					<button ng-click="validePaye('cheque');">chèque</button>
			    </div>
			</div>
		</article>
		<article id='col_gauche' > <!-- ng-show="liste.length"> -->
			<form>
				<input type='text' ng-model="q" placeholder="Recherche "/>
			</form>
		LISTE : {{q}}
			<ul id="ticket-list">
				<li ng-repeat="ticket in liste | filter:q" ng-click="selectTicket( ticket );" > 
					<div class="view">
						{{ticket._id}}
						
						<ul>
							<li ng-repeat="people in ticket.insc">
								<span>{{people.nom}} {{people.prenom}} </span>
							</li>
						</ul>
					
					</div>
				</li>
			</ul>
			
		</article>
		
	</section>
	
	<canvas id="qr-canvas" width="800" height="600" style="width: 800px; height: 600px;"></canvas>

</body>
</html>
